:root {
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;

  color: var(--content-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Brand */
    --brand-rose: #F8719D;
    --brand-lavender: #BBB3D9;
    --brand-blue: #ABC2E2;
    --brand-green: #9BBCC3;

    /* Content */
    --content-primary: #3D3B3B;
    --content-secondary: #627091;
    --content-inverse: #FFFFFF;

    /* Background */
    --background-fixed-white: #FFFFFF;
    --background-aurora: linear-gradient(45deg, #ABC2E2 0%, #BBB3D9 50%, #CB9AD2 100%);

    /* Accent */
    --accent-green: #42CFB7;
    --accent-red: #D5529E;
    --accent-yellow: #E2AD26;
}

body {
  margin: 0;
  display: flex;
  place-items: left;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: auto;
}

h2 {
  font-size: 2.25rem;
  font-weight: 'semi-bold';
  line-height: auto;
}

h3 {
  font-size: 2rem;
  font-weight: 'semi-bold';
  line-height: auto;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}
